%h3 Editing Player: #{@player.user.name}

#{@player.user.name} is a player in the #{@player.game.name} game.

=form_for(@player, :url => admin_player_url(@player), :html => { :class => 'form-horizontal' }) do |f|
  .control-group
    =label_tag :player_in, 'A player in the game of ' + @player.game.name, :class => 'control-label'
  .control-group
    =label_tag :totpoints, 'Total Points:', :class => 'control-label'
    .controls
      =f.number_field :points, :value => @player.points, :class => 'span1'
  .control-group
    =label_tag :iscommuter, 'Commuter?', :class => 'control-label'
    .controls
      =radio_button_tag 'player[off_campus]', :true, true, :class => 'span1'
      =radio_button_tag 'player[off_campus]', :false, false, :class => 'span1'
  =f.submit 'Save'
