=form_for(Waiver.new, :url => register_game_url(@game, @next_step), :html => { :class => 'form-horizontal' }) do |f|
  %h3 Fill out this information...
  .control-group
    =label_tag :waiver_date_signed, 'Today Date:', :class => 'control-label'
    .controls
      =f.date_select :date_signed, { :order => [:month, :day, :year] }, :class => 'span2'
  .control-group
    =label_tag :waiver_date_of_birth, 'Date of Birth:', :class => 'control-label'
    .controls
      =f.date_select :date_of_birth, { :start_year => 80.years.ago.year }, :class => 'span1'
  .control-group
    =label_tag :waiver_emergency_name, 'Emergency Contact Name:', :class => 'control-label'
    .controls
      =f.text_field :emergency_name
  .control-group
    =label_tag :waiver_emergency_phone, 'Emergency Phone:', :class => 'control-label'
    .controls
      =f.text_field :emergency_phone
  %h3 ...then, please read the following waiver and digitally sign it below:
  .span10
    %p
      I,
      %b= current_user.name
      have asked to participate in the Big Games Club's Humans vs. Zombies game,
      scheduled to take place between #{@game.game_begins}-#{@game.game_ends}. My
      participation will include some physical risks and I am aware of hazards that
      may be encountered during this program and I understand that there is a risk
      of death, personal injury, and damage to property.
    %p
      I have been informed of hazards that may be encountered during this project and if I have any questions about
      the activity's content, nature, risks or hazards, I have contacted the activity's coordinator and have discussed those
      questions to my satisfaction.
    %p
      As a condition of participating in this activity, I agree to the following:
    %ol
      %li
        I am physically capable of participating in this activity. I understand
        that I am responsible for any health and accident insurance which I may deem
        necessary.
      %li
        I agree to abide by all rules and regulations set forth by the facilitators of the Humans vs. Zombies game.
        Failure to follow these rules may result in my immediate dismissal from the game.
      %li
        In consideration of being granted the opportunity to participate in this activity and use services and facilities
        furnished or made available by Case Western Reserve University as well as the assistance and advice of
        employees of the University, I hereby release and forever discharge Case Western Reserve University, the
        officers of the Case Big Games Club, the Office of Student Activities and Leadership; and its trustees,
        officers, employees, and agents from all legal claims for injuries, damages, or losses of any kind, which may
        arise out of my participation in this program, other than those claims directly attributable to the grossly
        negligent acts or omissions of Case Western Reserve University, or its trustees, officers or employees.
      %li
        I agree to comply with all regulations, rules and policies of Case while participating in this activity. I fully
        acknowledge that, I am responsible for following all policies and procedures as set forth by the 2011-2012
        Student Services Guide. I understand that I am responsible for any medical or other personal insurance that
        I may deem necessary. I also understand that Case Western Reserve University is not responsible for my
        safety under any circumstances.
    %p
      I certify that I have fully read this release and that I understand its terms and conditions and agree to be bound by
      them. I certify that I am over the age of eighteen and have executed this agreement of my own free will.
    =f.submit 'Sign Waiver!'
