%h3 You are about to register for Humans vs Zombies!
=form_for(:register, :url => register_game_url(@game, @next_step)) do |f|
  .form-actions
    =f.submit 'Begin registration process!', :class => 'btn btn-primary btn-large'
