=form_for(@squad, :url => register_game_url(@game, @next_step), :html => { :class => 'form-horizontal' }) do |f|
  %fieldset
    %h3 Join a Squad...
    .control-group
      =label_tag 'squad_name', 'Select a Sqaud:', :class => 'control-label'
      .controls
        =f.select :name, options_for_select(@game.squads.map { |s| [s.name, s.name] }, @player.squad.try(:name))
    .form-actions
      =f.submit 'Join Squad', :class => 'btn btn-primary btn-large'
  %fieldset
    %h3 ...or create one!
    .control-group
      =label_tag 'squad_name', 'Squad Name:', :class => 'control-label'
      .controls
        =text_field_tag 'squad[new_name]', ''
    .form-actions
      =f.submit 'Create Squad!', :class => 'btn btn-primary btn-large'
