@thunderSrc: asset-path("fonts/a_love_of_thunder.ttf");
@font-face {
  font-family: 'A Love of Thunder';
  src: url(@thunderSrc) format('woff');
}
@aLoveOfThunder: 'A Love of Thunder', Helvetica, Arial, sans-serif;
