%h2 Player List
%table
  %thead
    %th Case ID
    %th Name
  %tbody
    -@players.each do |p|
      %tr
        %td= p.caseid
        %td= p.name
%h2 Game List
%ul
-@games.each do |g|
  %li= link_to g.name, game_url(g)
/
  :markdown
    For now, to create a new player, enter the Mongo database
        mongo [database_name]
    and do something like
        db.players.insert({name: 'name here', caseid: 'caseid here'})
