@import "shared/fonts";
@import "shared/variables";
@import "twitter/bootstrap/mixins";

.jumbotron {
  padding: 40px 0;
  position: relative;
}
.jumbotron h1 {
  font-size: 64px;
  letter-spacing: 2px;
}
.jumbotron h3 {
  font-family: @keepCalm;
}
