@import "shared/fonts";

.jumbotron {
  padding-top: 30px;
  padding-bottom: 40px;
  position: relative;
  background-color: #58FF3A;
}
.jumbotron h1 {
  font-family: @aLoveOfThunder;
  font-size: 72px;
}
