-if current_user && current_user.site_admin?
  .below-header-bar.site-admin
    .container
      Site Admin
-if controller.is_a?(HomeController)
  -if current_user && !current_user.registered?(@default_game)
    .below-header-bar.alert
      .container
        You aren't registered for this game yet.
        =link_to 'Register now!', register_game_url(@default_game)
-[:error, :alert, :notice].each do |type|
  - if flash[type]
    .below-header-bar{ :class => type.to_s }
      .container
        =flash[type]
