!!!
%html
  %head
    %title ZombieGameEngine
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }
    =stylesheet_link_tag    "application", :media => "all"
    =yield :stylesheets
    =javascript_include_tag "application"
    =csrf_meta_tags
  %body
    %header.top-bar
      .container
        .row
          .span6
            %h1
              =link_to 'Case Humans vs. Zombies', '/'
          .span6
            %ul.nav.nav-pills
              %li= link_to 'Home', root_url
              %li= link_to 'Scoreboard', '#'
              - if user_signed_in?
                %li= link_to 'Log Out', destroy_user_session_path
              - else
                %li= link_to 'Log in with Facebook', user_omniauth_authorize_path(:facebook)
    -[:error, :alert, :notice].each do |type|
      - if flash[type]
        .error-bar{ :class => type.to_s }
          .container
            =flash[type]
    .container
      .row
        .span12
          =yield
