!!!
%html
  %head
    %title ZombieGameEngine
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }
    =stylesheet_link_tag    "application", :media => "all"
    =javascript_include_tag "application"
    =csrf_meta_tags
    :css
      body, html {
      }
      .jumbotron {
        padding-top: 20px;
        padding-bottom: 40px;
        position: relative;
        background-color: #58FF3A;
      }
      .top-navigation {
        list-style-type: none;
      }
      .top-navigation li {
        float: left;
      }
      .top-navigation li:before {
        content: "|";
        padding: 0 10px;
      }
      .top-navigation li:first-child:before {
        content: "";
      }
  %body
    %header.jumbotron
      .container
        .row
          .span6
            %h1 Case HvZ
            %h3 Zombie Game Engine
        .row
          .span6.offset6
            %ul.top-navigation
              %li= link_to 'Home', root_url
              %li Scoreboard
              - if user_signed_in?
                %li= link_to 'Log Out', destroy_user_session_path
              - else
                %li= link_to 'Log in with Facebook', user_omniauth_authorize_path(:facebook)
    .container
      - if flash[:error] || flash[:alert] || flash[:notice]
        .row
          .span12
            .alert
              =flash[:error]
              =flash[:alert]
              =flash[:notice]
      .row
        .span4.hidden-phone
          - if user_signed_in?
            .well
              =image_tag current_user.image_url, :style => "float:left; margin-right: 20px;"
              %h2= current_user.name
              %ul
                %li View Player Profile
                %li Submit a Tag
                %li Check In
                %li ...
        .span8
          =yield
